<div class="text-center">
  <h1 class="text-2xl font-bold sm:text-3xl">Welcome back</h1>
  <p class="mt-2 text-sm text-muted-foreground sm:text-base">Log in to your account to continue</p>
</div>

<z-card class="p-4 sm:p-6 lg:p-8">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4 sm:space-y-6">
    <app-form-input [control]="loginForm.controls.username"
                    label="Username"
                    type="text"
                    placeholder="haskell"
    />

    <app-form-input [control]="loginForm.controls.password"
                    label="Password"
                    type="password"
                    placeholder="••••••••"
    />

    <button type="submit" z-button zFull [zLoading]="auth.isLoadingUser()" [disabled]="auth.isLoadingUser()">
      Log in
    </button>
  </form>
</z-card>

<p class="text-center text-sm text-muted-foreground">
  Don't have an account?
  <a z-button zType="link" href="#" class="px-0" [routerLink]="['/', 'auth', 'register']">Register</a>
</p>
