<div class="block rounded-lg border bg-card text-card-foreground shadow-sm w-full">

  <div class="w-full aspect-[4/3] overflow-hidden rounded-t-lg">
    <img src="/no-film-poster.png" alt="Film poster" class="w-full h-full object-cover"/>
  </div>

  <div class="my-4 px-6">
    <h3 class="font-bold text-base line-clamp-1">{{ film().title }}</h3>

    <div class="mt-2 flex flex-row items-center gap-4 pb-2">
      <app-star-rating-bar sizeCs="size-4" [disableHovering]="true" [rating]="film().totalRating"/>
    </div>
  </div>
</div>
