@let ctrl = control();
@let status = ctrl.dirty ? (ctrl.valid ? 'success' : 'error') : undefined;

<z-form-field class="w-full">
  <z-form-label [zRequired]="isRequired()">
    {{ label() }}
  </z-form-label>

  <z-form-control>
    @if (type() === 'textarea') {
      <textarea name="input" z-input [zStatus]="status"
                  [formControl]="ctrl" [placeholder]="placeholder()"
                  class="w-full h-fit bg-card" [rows]="rows()"
      ></textarea>
    } @else {
      <input name="input" z-input [type]="type()" [zStatus]="status"
             [formControl]="ctrl" [placeholder]="placeholder()"
             class="w-full"
      />
    }
  </z-form-control>

  @if (status === 'error') {
    <z-form-message zType="error">{{ ctrl.errors | errorMessage }}</z-form-message>
  }
</z-form-field>
