<header class="flex flex-col justify-between items-center sm:mt-10 mt-5">
  <img src="/hero-banner.png" alt="Hero Banner" class="w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md"/>


  @if (auth.hasRole(UserRoleDto.VIEWER) && recommendations().length > 0) {
    <h1
      class="mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-tight sm:text-[64px] sm:leading-[76px]">
    <span class="bg-linear-to-r from-[#AB8BFF] to-[#D6C7FF] bg-clip-text text-transparent">
      Recommended
    </span>
      For You
    </h1>

    <z-carousel [zOptions]="recCarouselOptions"
                [zPlugins]="recPlugins()"
                zControls="dot"
                class="w-full mt-10 mb-10"
    >
      <z-carousel-content class="flex justify-center p-1">
        @for (film of recommendations(); track film.id) {
          <z-carousel-item class="sm:basis-1/2 md:basis-1/3 lg:basis-1/5">
            <app-film-card [film]="film" [routerLink]="[film.id]"/>
          </z-carousel-item>
        }
      </z-carousel-content>
    </z-carousel>
  }

  <h1
    class="mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-tight sm:text-[64px] sm:leading-[76px]">
    Find Your Favorite
    <span class="bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent">
      Movie
    </span>
  </h1>

  <app-search-bar class="w-full mt-10 max-w-3xl mx-auto" (queryChanged)="onQueryChanged($event)"
                  placeholder="Search movies..."/>
</header>

<section class="mt-16 w-full">
  <h2 class="mb-8 w-fit mx-auto text-2xl font-bold sm:text-3xl">
    All Movies
  </h2>

  @if (!isLoading()) {
    @if (films().length > 0) {
      <div class="grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        @for (film of films(); track film.id) {
          <app-film-card [film]="film" [routerLink]="[film.id]"/>
        }
      </div>
    } @else {
      <p class="text-4xl mx-auto w-fit my-16 text-center">No movies were found</p>
    }
  } @else {
    <div class="grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      @for (_ of skeletons; track $index) {
        <app-film-card-skeleton/>
      }
    </div>
  }
</section>

<div class="mt-12 w-full flex justify-center items-center">
  @if (films().length > 0) {
    <app-paginator
      [pageIndex]="pageIndex()"
      [pageSize]="pageSize()"
      [totalItems]="totalFilms()"
      (paginationChanged)="onPageChanged($event)"
    />
  }
</div>
