<div class="w-full flex flex-row justify-between items-end gap-4 md:gap-8">
  <h1 class="mt-12 w-fit text-2xl font-bold sm:text-3xl">{{ film().title }}</h1>

  <div class="w-fit flex flex-row justify-between items-center gap-2 md:gap-4">
    <button (click)="onEditFilmInfo()"
            z-button
            zType="default"
            class="flex flex-row justify-between items-center gap-2">
      <z-icon zType="settings" zSize="xl"></z-icon>
      <span class="hidden sm:block">Edit info</span>
    </button>

    <button (click)="onDeleteFilm()"
            z-button
            zType="destructive"
            class="flex flex-row justify-between items-center gap-2">
      <z-icon zType="trash" zSize="xl"></z-icon>
      <span class="hidden sm:block">Delete</span>
    </button>
  </div>
</div>

<div class="mt-6 flex gap-12 flex-wrap">
  <img src="/no-film-poster-vertical.png" alt="Film poster" class="rounded-lg h-auto max-h-96 w-auto"/>

  <div class="flex flex-col gap-5">
    <div>
      <p class="text-muted-foreground text-xl leading-relaxed tracking-wide">Rating</p>
      <div class="mt-2 flex flex-row items-center gap-1">
        <img src="/star.svg" alt="Star icon" class="size-6 object-contain"/>
        <p class="font-bold text-base">{{ film().totalRating }}</p>
      </div>
    </div>
  </div>
</div>

<div class="mt-6">
  <p class="text-muted-foreground text-xl leading-relaxed tracking-wide">Description</p>
  <p class="mt-2 text-md leading-relaxed">
    {{ film().description }}
  </p>
</div>

<div class="mt-16">
  <div class="flex items-center gap-1 sm:gap-2 flex-wrap">
    @for (dubbing of dubbingList(); track dubbing.id) {
      <button z-button
              [zType]="activeDubbingId() == dubbing.id ? 'default' : 'outline'"
              (click)="onSetActiveDubbing(dubbing.id)">
        {{ dubbing.name }}
      </button>
    }
    <button z-button zType="default" (click)="onAddNewDubbing()">Add new dubbing</button>
  </div>

  <div class="mt-8">
    <div>
      @let link = activeEpisodeLink();
      @if (link) {
        <video controls [src]="link" type="application/vnd.apple.mpegurl"></video>
      } @else {
        <p class="text-3xl w-full text-center p-16">{{ activeEpisodeMessage() }}</p>
      }
    </div>

    <div class="mt-8">
      <div class="flex items-center gap-1 sm:gap-2 flex-wrap">
        @for (episode of activeEpisodes(); track episode.id) {
          <button z-button
                  [zType]="activeEpisodeId() == episode.id ? 'default' : 'outline'"
                  (click)="onSetActiveEpisode(episode.id)">
            {{ episode.title }}
          </button>
        }
        <button z-button zType="default" (click)="onAddNewEpisode()">Add new episode</button>
      </div>
    </div>
  </div>
</div>
